---
import { Image } from 'astro:assets';
import personal from '../../resources/info.json';
import Arrow from './Arrow.astro';
import SocialMedia from './SocialMedia.astro';
---

<main>
  <div class="container">
    <div class="image-container">
      <Image
        width="200"
        height="200"
        class={'photo'}
        src={personal.myFaceUrl}
        alt={'Photo of Enzo Falone'}
        decoding="async"
        loading="lazy"
      />
    </div>
    <div class="wavy-animation">
      <h1>Enzo Falone</h1>
    </div>
    
  </div>
  <p class="content">
    Hey there! I am a Computer Science student at <a
      href="https://www.fiu.edu/"
      target="_blank">Florida International University</a
    > that loves creating all sorts of projects, playing rhythm videogames and
    riding motorcycles!
  </p>
  <SocialMedia />
  <div class="arrow-container">
    <Arrow />
  </div>
</main>

<style>
  .container {
    width: 100%;

    display: flex;
    justify-content: center;
    place-items: center;
    flex-direction: column;
  }

  .wavy-animation {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    color: var(--text-color);
  }

  .wavy-animation > h1 {
    font-size: 4rem;
    background: #cfaebe;
    background: linear-gradient(to right, #cfaebe 0%, #917ecf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 1000;
    animation: wave 4s infinite;
    margin: 2rem;
  }
/* 
  .wavy-animation > h2 {
    font-size: 1.5rem;
    background: #cfaebe;
    background: linear-gradient(to right, #cfaebe 0%, #917ecf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    animation: wave 10s infinite;
  }
 */
  @keyframes wave {
    0% {
      background-position: 0% center;
    }
    50% {
      background-position: 100% center;
    }
    100% {
      background-position: 0% center;
    }
  }

  .image-container {
    width: 10rem;
  5}

  .image-container > img {
    border-radius: 9999%;
  }

  .content {
    color: var(--text-color);
    font-size: 1.5rem;
    text-align: center;
    font-weight: lighter;
  }

  .content a {
    color: var(--text-color);
    text-decoration: solid underline #6f5f9e;
  }

  .underline {
    color: #cfaebe;
  }

  .photo {
    width: 100%;
    height: 100%;
  }

  main {
    padding-top: 8dvh;
    height: 92dvh;

    display: flex;
    flex-direction: column;
  }

  .arrow-container {
    width: 100%;
    display: flex;
    margin-top: auto;
    margin-bottom: 20px;
  }
</style>
