---
import { Image } from 'astro:assets';
import personal from '../../resources/info.json';

const socialMediaList = personal.social;
---

<div id="social-media">
  {
    socialMediaList.map((socialMedia) => (
      <a href={socialMedia.url} target="_blank" rel="noopener noreferrer">
        <Image
          alt={`${socialMedia.name} icon`}
          src={socialMedia.imgSrc}
          width={64}
          height={64}
          class={socialMedia.invertColors ? 'invert' : ''}
        />
      </a>
    ))
  }
</div>

<style>
  div {
    margin: 2rem auto 3rem auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }


  a {
    transition: transform 0.2s;
  }

  a:hover {
    transform: scale(1.2);
  }

  .invert {
    filter: invert(100%);
  }
</style>

<style is:global>
  #social-media img {
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
  }
</style>
