---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/hero/Hero.astro';
import LineBreak from '../components/LineBreak.astro';
import Skills from '../components/skills/skills.astro'
---

<style></style>

<Layout title="Enzo Falone">
  <Hero />
  <section>
    <LineBreak />
    <Skills />
  </section>
</Layout>
