---
import { Image } from 'astro:assets';
import logo from '../resources/logo.svg';

const logoImageProps = {
  src: logo,
  alt: 'Cube Logo',
};
---

<script>
  const navbar = document.querySelector('#header-container');
  const sentinel = document.querySelector('#dummy-header');

  const observer = new IntersectionObserver(
    ([entry]) => {
      navbar?.classList.toggle('scroll', !entry.isIntersecting);
    },
    { threshold: 0 }
  );

  if (sentinel) observer.observe(sentinel);
</script>
<div id="dummy-header"></div>
<div id="header-container">
  <div id="header">
    <div class="logo-container">
      <a href="/">
        <Image class="logo" {...logoImageProps} />
      </a>
    </div>
    <div id="header-links">
      <a class="link" href="#hero">Home</a>
      <a class="link" href="#skills">Skills</a>
      <a class="link" href="#experiences">Experience</a>
      <a class="link" href="#projects">Projects</a>
      <a id="button-contact" class="link" href="mailto:enzofalone123@gmail.com"
        >Contact Me</a
      >
    </div>
  </div>
</div>

<style>
  #dummy-header {
    width: 100%;
    height: var(--navbar-height);
  }

  #header-container {
    width: 100%;
    top: 0;
    position: fixed;
    height: var(--navbar-height);
    z-index: 100;
    transition: background-color 200ms, filter 200ms, border-color 200ms;
  }

  #header {
    display: flex;
    align-items: center;
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 1rem;
  }

  .scroll {
    background-color: rgb(25, 23, 41);
    filter: drop-shadow(0px 9px 15px #000);
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.14);
  }

  #header-links {
    display: flex;
    gap: 1.5rem;
    align-items: center;

    margin-left: auto;
  }

  #button-contact {
    border: 1px solid var(--border);
    border-radius: 10px;
    padding: 6px 10px;
    color: var(--text-inactive-color);
    transition: 200ms ease;
  }

  #button-contact:hover {
    border: 1px solid var(--border-active);
    background-color: hsla(0, 0%, 100%, 0.103);
    color: var(--text-color);
  }

  .link {
    color: var(--text-inactive-color);
    font-size: 1rem;
    transition: color 200ms ease;
    text-decoration: none;
  }

  .link:hover {
    color: var(--text-color);
  }

  .logo-container {
    display: flex;
    align-items: center;
  }

  .logo {
    height: 48px;
  }
</style>
