---
import { Image } from 'astro:assets';
const { title, image, alt } = Astro.props;
---

<div class="skill-element">
  <Image
    class="skill-image img-crisp"
    width={32}
    height={32}
    src={image}
    alt={alt}
    loading={'lazy'}
    decoding={'async'}
  />
  <span class="skill-title">{title}</span>
</div>

<style>
  .skill-element {
    display: flex;

    width: 100%;
    height: 56px;
    background-color: var(--card-bg);

    padding: 10px;
    border-radius: 5px;
  }

  .skill-title {
    color: var(--text-color);
    font-size: 20px;
    margin: auto 15px;
  }

  .skill-element :global(img) {
    flex-shrink: 0;
    margin: auto 0;
    width: 32px;
    height: 32px;
    max-width: 32px;
    max-height: 32px;
    object-fit: contain;
  }
</style>
