---
import experiences from '../../resources/experiences.json';
import ExperiencePreview from './ExperiencePreview.astro';
---

<section id="experiences">
  <div class="experiences-header">
    <h2>Experience</h2>
  </div>
  <div class="experiences-container">
    {
      experiences.map((experience) => (
        <ExperiencePreview
          company={experience.company}
          title={experience.title}
          date={experience.date}
          companyImgUrl={experience.companyImgUrl}
        />
      ))
    }
  </div>
</section>

<style>
  h2 {
    font-size: 36px;
    color: var(--text-color);
  }

  .experiences-header {
    margin-bottom: 2rem;
  }

  .experiences-container {
    display:flex;
    flex-direction: column;
    gap: 10px;

    padding: 10px;
    background-color: #192227;
    border-radius:5px;
  }
</style>
